/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styling */
body {
    @apply bg-gray-50 text-gray-800;
}

table {
    @apply w-full text-left border-collapse;
}

th,
td {
    @apply px-4 py-3;
}

h1,
h2,
h3 {
    @apply font-semibold;
}